/images
/models

/NLP_processing/embeddings/intensity_pneumonia/results
/NLP_processing/bacterial_pneumonia

/severity_data

/.venv_310 
/.venv

/cohort_data
/NLP_processing/BERTopic_Intensity/processed_NER_extracts
/NLP_processing/raw_embeddings
