/images
/models
/severity_data 

/NLP_processing/embeddings/intensity_pneumonia/results
/NLP_processing/NER_embeddings/bacterial/radgraph_embeddings.pt
/NLP_processing/NER_embeddings/bacterial/radgraph_with_embeddings.csv

/.venv_310 
/.venv

/cohort_data
/NLP_processing/BERTopic_Intensity/processed_NER_extracts
/NLP_processing/raw_embeddings
/GNN



